* {
  font-family: sans-serif;
}

.main{
  display: grid;
  width: 100%;
  grid-template-areas: "controls controls" "players-tab match-ups" "start-section start-section";
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: 1fr 3fr;
  gap: 0.5rem;
}
.start-section{
  display: flex;
  grid-area: start-section;
  background-color: aquamarine;
  margin: 2rem;

  * {
    font-size: 2rem;
    margin: 0 auto;
  }
}

.controls{
  grid-area: controls;
  background-color: azure;

}
.players-tab{
  grid-area: players-tab;
  flex: 1;
  height: 100%;
  background-color: aliceblue;
  padding: 1rem;
  border: 3px solid lightgray;
  border-radius: 20px;
}
.match-ups{
  grid-area: match-ups;
  background-color: aliceblue;
  flex: 3;
  padding: 1rem;

  &.round-status-finished {
    background-color: gainsboro;
  }
}
