
.player-list-panel{
    position: relative;
}
.hide-player-list-button {

    float: right;
    font-size: 3rem;
    padding: 0.5rem;
}

.player-list-header {
    font-size: 2rem;
    font-weight: bold;
}