
.player-list-panel{
    position: relative;
}
.hide-player-list-button {

    float: right;
    font-size: 3rem;
    padding: 0.5rem;
}

.player-list-header {
    font-size: 2rem;
    font-weight: bold;
}

.playerCanBeRemoved:hover {
    background-color: #700000;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.playerCanBeRemoved:active {
    background-color: black;
    transition: 0s !important;
}