<table style="border: 1px solid gray">
    <thead>
    <tr>
        @for (_player of matchUpList[0].players; track $index) {
            <th>Player</th>
            <th>Points <br> (wins/loses/ties)</th>
            @if ($index + 1 !== matchUpSize) {
                <th></th>
            }
        }
    </tr>
    </thead>
    <tbody>
        @for (playerList of matchUpList; track $index) {
            <tr>
                @for (player of playerList.players; track $index) {
                    <td [class]=`player-status-${player.state}`>{{ player.name }}</td>
                    <td [class]=`player-status-${player.state}`>{{ player.points.wins }}/{{ player.points.loses }}
                        /{{ player.points.ties }}
                    </td>
                    @if ($index + 1 !== matchUpSize) {
                        <td><b>VS.</b></td>
                    }
                }
            </tr>
        }
    </tbody>
</table>

@if (canBeEdited) {
<span class="round-controls">
    <button (click)="backToThisRound()">Go Back</button>
</span>
}
