.player-status-won {
  background-color: #c0ef83;
}

.player-status-lost {
  background-color: #fb9393;
}

.player-status-tie {
  background-color: #ffffae;
}

tr{
  user-select: none;
}


.table-item{
    border: 2px solid gray;
}

th{
    border: 2px solid gray;
}

table{
    background-color: gainsboro;
    border: 1px solid gray;
}

.empty-player-slot{
    background-color: #ffd059;
    background-image: repeating-linear-gradient(-45deg, white 3px, #cda846 5px, white 7px);
    border: solid 2px #a88839;
}

