.player-status-won {
  background-color: #c0ef83;
}

.player-status-lost {
  background-color: #fb9393;
}

.player-status-tie {
  background-color: #ffffae;
}

tr{
  user-select: none;
}


td{
    border: 2px solid gray;
}

th{
    border: 2px solid gray;
}

table{
    background-color: gainsboro;
    border: 1px solid gray;
}
